* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
  margin-left: 10px;
  font-family: Aerial;
}

p {
  margin: 10px 0;
  font-weight: bold;
}

.js-subscribe {
  margin: 10px 0 60px 0;
  padding: 10px 20px;
  font-size: 1.1rem;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.is-subscribed {
  background-color: rgb(240, 240, 240);
  color: black;
}

#click {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  font-size: 15px;
}

.js-calculate {
  background-color: green;
  color: white;
  font-size: 15px;
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  
}

.error {
  color: red;
}